{% load staticfiles  %}

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
<link rel="stylesheet" href="{% static 'User/css/uikit.min.css' %}" />
<script src="{% static 'User/js/jquery.js' %}"></script>
<script src="{% static 'User/js/uikit.min.js' %}"></script>
<script src="{% static 'User/js/uikit-icons.min.js' %}"></script>
</head>
<body onload="happycode() ;">


<form action="{% url 'resigster'  %}"  method="post">
{% csrf_token %} 
First name: <input type="text" name="fistname" value=""><br>
Last name: <input type="text" name="lastname" value=""><br>
Username : <input type="text" name="username" value=""><br>
Passwords : <input type="password" name="password" value=""><br>
Email : <input type="text" name="email" value=""><br>

<div uk-alert>
    <a class="uk-alert-close" uk-close></a>
</div>

<input type="submit" value="Submit">
</form>




</body>
<script type="text/javascript">

</script>
</html>